

<%- include('header.ejs') %>

<%- include('page-header.ejs') %>

<section>
	<inner-column>
		<ul class='family-list'>
			
			<%familyData.forEach((family) => { %>
				<li>
					<a href='/detail/<%=family.id%>' class='small-attention-voice'><%= family.family %></a>
				</li>
			<% }) %>
		</ul>
	</inner-column>
</section>

<%- include('footer.ejs') %>