


<% families.forEach((family) => { %>

	<li class='language-card'>
		<figure>
			<picture>
				<img src='<%= family.image.figure %>' family.image.alt='<%= family.image.alt %>'>
			<picture>
			<figcaption> <%= family.image.figcaption %> </figcaption>
		</figure>
		<div class='info-section'>
			<h3><%= family.family %></h3>
			<ul>
				<li>
					<p><%= family.languages.join(', ')%></p>
				</li>
				<li>
					<p><%= family.countries.join(', ')%></p>
				</li>
				<li>
					<p><%= family.mostSpoken %></p>
				</li>
				<li>
					<p><%= family.population %></p>
				</li>
			</ul>
		</div>

<% }) %>