<li class='language-card'>
	<h3 class='small-attention-voice'><%= family.name %></h3>
	<article class='language-detail'>
		<figure>
			<picture>
				<img src='<%= family.image %>' family.image.alt='<%= family.alt %>'>
			</picture>
			<figcaption class='caption-voice'> <%= family.description %> 
			</figcaption>
		</figure>
		<div class='info-section'>
			<ul>
				<li>
					<h4>Examples</h4>
					<p><%= family.languages.join(', ')%></p>
				</li>
				<li>
					<h4>Prominent Countries</h4>
					<p><%= family.countries.join(', ')%></p>
				</li>
				<li>
					<h4>Most Spoken</h4>
					<p><%= family.mostSpoken %></p>
				</li>
				<li>
					<h4>Worldwide Speakers</h4>
					<p><%= family.population %> speakers</p>
				</li>
			</ul>
		</div>
	</article>
</li>
