<%- include('header.ejs') %>

<header class='page-header'>
	<inner-column>
		<h2 class='attention-voice color'>Languages</h2>
	</inner-column>
</header>

<section>
	<inner-column>
		<ul class='family-list'>
			
			<%family.forEach((family) => { %>


				<%function checkLocation() {
					if (family.location.includes("North America")) {
							return "americas";
						} else if (family.location.includes("Asia")) {
							return "asia";
						} else if (family.location.includes("Africa")) {
							return "africa";
						}
					}
				%>

				<li class=<%=checkLocation()%>>
						<h2 class='small-attention-voice'><%= family.name %></h2>
 						<a href='/detail/<%= family.id %>'>See more</a>
				</li>

			<% }) %>

		</ul>
	</inner-column>
</section>

<%- include('footer.ejs') %>